/*Background*/

html { 
	background: #0061fb;
	-webkit-font-smoothing: antialiased;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6em;
	line-height: 1.5em;
	font-weight: normal;
}

/*Page Structure*/

#body {
	margin-left: 0px;
}

.main {
	max-width: 450px;
	margin: auto;
	padding: 3em 1em;
}
			
/*Images*/

.logo {
	height: 3em;
	width: 3em;
	background: url(../images/logo.png) no-repeat;
	background-size: 100%;
	margin-bottom: 2em;
}

.logo:hover {
	background: url(../images/spin.gif) no-repeat;
	background-size: 100%;
}

.trust {
	height: 2em;
	width: 2em;
	margin-top: 1.5em;
	background: url(../images/trusty.gif) no-repeat;
	background-size: 100%;
}

/*Type & Link Styling*/

p {
	color: #FFFFFF;
}
			
a {
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: 3px solid white;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
			
a:hover {
	color: #f9ec00;
	border-bottom: none;
}

::selection {
	background: #f9ec00;
}

a::selection {
	color: #0061fb;
}

/*Resposive-bility*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

html {
	font-size: 1.4em;
	line-height: 1.6em;
}

.main {
	padding: .75em .75em;
}

.logo {
	height: 3em;
	width: 3em;
	margin: auto;
}

.trust {
	height: 2.5em;
	width: 2.5em;
	margin: auto;
}

}