/* 

origin: 	1.0 — 01/14/23
version: 	1.0 — 01/14/23
author: 	Noah Jacobus
email: 		noah@noahjacob.us
website: 	http://noahjacob.us


/*Load Those WOFFs, Baybee*/

@font-face  {
	font-family: HEX Franklin;
	src: url("/fonts/HEX_Franklin_v0.2-Regular.woff2") format("woff");
	font-weight: 400;
}

@font-face  {
	font-family: HEX Franklin;
	src: url("/fonts/HEX_Franklin_v0.2-Semibold.woff2") format("woff");
	font-weight: 600;
}

@font-face  {
	font-family: HEX Franklin;
	src: url("/fonts/HEX_Franklin_v0.2-Bold.woff2") format("woff");
	font-weight: 700;
}

@font-face  {
	font-family: HEX Franklin Narrow;
	src: url("/fonts/HEX_Franklin_v0.2_Narrow-Medium.woff2") format("woff");
	font-weight: 500;
}

@font-face  {
	font-family: Blanco;
	src: url("/fonts/Blanco-Regular.woff2") format("woff");
	font-weight: 400;
}

@font-face  {
	font-family: Blanco;
	src: url("/fonts/Blanco-Bold.woff2") format("woff");
	font-weight: 700;
}

@font-face  {
	font-family: Blanco Italic;
	src: url("/fonts/Blanco-Italic.woff2") format("woff");
	font-weight: 400;
}

@font-face  {
	font-family: Blanco Italic;
	src: url("/fonts/Blanco-BoldItalic.woff2") format("woff");
	font-weight: 700;
}

/* Fonts */

:root {
	--serif: "Blanco", ui-serif, "Georgia", serif;
	--serif-italic: "Blanco Italic", ui-serif, "Georgia", serif;
	--sans: "HEX Franklin", system-ui, "Arial";
}

/* Colors */

:root {
	--bg: 252, 248, 245; /*Paper*/
	--text: 35, 39, 43; /*Slate*/
	--highlight: 255, 196, 0; /*Yellow*/
	--accent: 255, 191, 225; /*Pink*/
}

/* Spacing */

:root {
	--small: 16px;
	--medium: 32px;
	--large: 48px;
	--venti: 64px;
}