/* 

author: 	Noah Jacobus
email: 		noah@noahjacob.us
website: 	http://noahjacob.us


/*Load Those WOFFs, Baybee*/

@font-face  {
	font-family: IBM Plex Sans;
	src: url("/fonts/IBMPlexSans-Regular.woff2") format("woff");
	font-weight: 400;
}

@font-face  {
	font-family: IBM Plex Sans;
	src: url("/fonts/IBMPlexSans-Bold.woff2") format("woff");
	font-weight: 700;
}

@font-face  {
	font-family: IBM Plex Sans Italic;
	src: url("/fonts/IBMPlexSans-Italic.woff2") format("woff");
	font-weight: 400;
}

@font-face  {
	font-family: IBM Plex Sans Italic;
	src: url("/fonts/IBMPlexSans-BoldItalic.woff2") format("woff");
	font-weight: 700;
}

@font-face  {
	font-family: Mint Grotesk;
	src: url("/fonts/Mint-Grotesk-Bold-V131.woff2") format("woff");
	font-weight: 700;
}

@font-face  {
	font-family: Mint Grotesk Italic;
	src: url("/fonts/Mint-Grotesk-BoldItalic-V131.woff2") format("woff");
	font-weight: 700;
}

@font-face  {
	font-family: Mint Grotesk;
	src: url("/fonts/Mint-Grotesk-Heavy-V131.woff2") format("woff");
	font-weight: 900;
}

/* Fonts */

:root {
	--sans: "IBM Plex Sans", system-ui, "Arial", sans-serif;
	--sans-italic: "IBM Plex Sans Italic", system-ui, "Arial", sans-serif;
	--title: "Mint Grotesk", system-ui, "Arial";
	--title-talic: "Mint Grotesk", system-ui, "Arial";
}

/* Colors */

:root {
	--bg: 242, 240, 234; /*Paper*/
	--text: 32, 31, 37; /*Slate*/
	--highlight: 255, 187, 4; /*Yellow*/
	--accent: 255, 154, 186; /*Pink*/
}

/* Spacing */

:root {
	--small: 1em;
	--medium: 2em;
	--large: 3em;
	--venti: 4em;
}