/*Structure*/

body {
	background-color: rgba(248,248,248,1);
}

#wrapper {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
}

footer {
	background-color: rgba(0,0,0,1);
	width: 100%;
	margin-top: 25px;
}

#foot-wrap {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
}

#logo {
	width: 50px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#npossible {
	width: 100%;
	margin-bottom: 50px;
}

/*Type Styles*/

h1 {
	font-family: 'Karla', sans-serif;
	text-decoration: none;
	font-weight: normal;
	color: #1affbc;
	font-size: 42px;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Karla', sans-serif;
	text-decoration: none;
	font-weight: 700;
	font-size: 22px;
	margin-top: 30px;
}

h3 {
	font-style: italic;
}

p, h3 {
	font-family: 'Merriweather', serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
}

#foot-wrap p {
	color: white;
	font-family: 'Karla', sans-serif;
	font-weight: normal;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #1affbc;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

a:hover {
	color: #000000;
}

#foot-wrap a:hover {
	color: #ffffff;
}

li {
	font-family: 'Karla', sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 2px;
}

time {
	font-family: 'Karla', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: rgba(181,196,199,1);
}