/*Structure*/

body {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #affff8;
	font-family: 'Rubik One', sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-decoration: none;
}

.wrapper {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

header {
	text-align: center;
}

.what-section, .where-section, .when-section, .kid-section, .dress-section, .byob-section {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	height: 140px;
}

.section-title {
	float: left;
	width: 150px;
}

.section-text {
	float: right;
	width: 350px;
	padding-top: 15px;
}

footer {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
	background-color: #92278f;
	height: 220px;
	margin-top: 70px;
}

.footer-wrap {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

/*Images*/

.made {
	margin-top: 10px;
}

/*Type Styles*/

h1 {
	font-weight: normal;
	color: #f05a23;
	font-size: 100px;
	line-height: 40px;
	margin-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 70px;
}

h2 {
	font-weight: normal;
	color: #92278f;
	font-size: 40px;
	margin-top: 20px;
}

footer h2 {
	color: #affff8;
	padding-top: 50px;
	font-size: 30px;
}

h3 {
	font-weight: normal;
	color: #92278f;
	font-size: 30px;
}

p {
	font-family: 'Karla', serif;
	font-size: 20px;
	line-height: 25px;
	color: #42200a;
}

a {
	text-decoration: none;
	color: #f05a23;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

a:hover {
	color: #42200a
}

footer a {
	text-decoration: none;
	color: #f05a23;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

footer a:hover {
	color: #affff8;
}