/*Background*/

html { 
	background: #22D686;
	-webkit-font-smoothing: antialiased;
	font-family: 'Chivo', sans-serif;
	font-size: 1.6em;
	line-height: 1.5em;
	font-weight: normal;
}

/*Page Structure*/

#body {
	margin-left: 0px;
}

.main {
	max-width: 450px;
	margin: auto;
	padding: 3em 1em;
}
			
/*Images*/

.face {
	height: 4em;
	width: 4em;
	background: url(images/face.png) no-repeat;
	background-size: 100%;
	margin-bottom: 2em;
}

.face:hover {
	background: url(images/face-alt.png) no-repeat;
	background-size: 100%;
}

.made {
	height: 2em;
	margin-top: 1.5em;
}

/*Type & Link Styling*/

p {
	color: #FFFFFF;
}
			
a {
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: 2px dotted white;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
			
a:hover {
	color: #ffe83e;
	border-bottom: 2px dotted #ffe83e;
}

.made, .made:hover{
	border-bottom: none;
}

/*Resposive-bility*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

html {
	font-size: 1.6em;
	line-height: 1.6em;
}

.main {
	padding: .75em .75em;
}

.face {
	height: 6em;
	width: 6em;
}

.made {
	height: 2.5em;
}

}