/*Building Blocks*/

html {
	background: rgb(var(--text));
	text-rendering: optimizeLegibility;
	  -webkit-font-smoothing: antialiased;
	  -moz-font-smoothing: antialiased;
}

body {
	min-height: 100vh;
	font-size: 20px;
	font-family: var(--sans);
	font-weight: normal;
	max-width: 680px;
	line-height: calc(1em + 0.5rem);
	color: rgb(var(--bg));
	margin: auto;
	padding: 20px;
	-moz-font-feature-settings: "liga", "kern";
	-moz-font-feature-settings:"liga=1, kern=1";
	-ms-font-feature-settings:"liga", "kern";
	-o-font-feature-settings:"liga", "kern";
	-webkit-font-feature-settings:"liga", "kern";
	font-feature-settings: "liga", "kern";
}

header {
	margin-top: var(--large);
	margin-bottom: var(--venti);
	display: flex;
	gap: var(--large);
}

section, footer {
	display: flex;
	align-items: baseline;
	gap: var(--large);
}

.label {
	display: flex;
	top: 20px;
	position: sticky;
	align-items: center;
	flex-basis: 120px;
	flex-shrink: 0;
	flex-grow: 0;
	gap: 16px;
}

.project {
	margin-top: 32px;
	margin-bottom: 32px;
}

.item-data {
	display: flex;
	justify-content: space-between;
}

.links {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 16px;
}

footer {
	margin-bottom: var(--medium);
}

hr {
	border: none;
	height: 8px;
	margin-top: var(--large);
	margin-bottom: var(--large);
	background-color: rgba(255, 187, 4, .5);
	border-radius: 3px;
}

/*Images & Icons*/

.main-image {
	max-width: 120px;
}

.icon {
	height: 20px;
}

.thumbnail {
	border-radius: 16px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
}

img, picture, video, canvas, figure {
	display: block;
	max-width: 100%;
}

/*Type & Link Styling*/

h1 {
	font-size: 40px;
	color: rgb(var(--bg));
	line-height: 1.3;
	font-family: var(--title);
	text-wrap: balance;
	font-weight: 900;
}

.sommelier {
	color: rgb(var(--text));
	text-shadow:
		-1px -1px 0 rgb(var(--accent)),  
		 1px -1px 0 rgb(var(--accent)),
		-1px  1px 0 rgb(var(--accent)),
		 1px  1px 0 rgb(var(--accent));
}

.design-guy {
	color: rgb(var(--text));
	text-shadow:
		-1px -1px 0 rgb(var(--highlight)),  
		1px -1px 0 rgb(var(--highlight)),
		-1px  1px 0 rgb(var(--highlight)),
		1px  1px 0 rgb(var(--highlight));
}

h2 {
	font-size: 20px;
	line-height: 1.3;
	font-family: var(--title);
	text-wrap: balance;
	color: rgb(var(--accent));
}

.copyright {
	color: rgba(var(--bg), .7);
}

h3 {
	font-size: 18px;
	line-height: 1.3;
	font-family: var(--title);
	color: rgb(var(--highlight));
}

::selection {
	background: rgb(var(--highlight));
	color: rgb(var(--text));
}

.item-data p {
	font-size: 16px;
	color: rgba(var(--bg), .7);
}

.social {
	font-size: 16px;
	background-color: rgba(var(--bg), .2);
	padding: 8px 12px 8px 12px;
	border-radius: 16px;
	margin: 0;
	text-underline-offset: .15em;
	text-decoration-thickness: .15em;
	text-decoration-color: rgba(var(--bg), .3);
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

.social:hover {
	background-color: rgba(var(--highlight), .2);
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

.colophon {
	color: rgba(var(--bg), .7);
}

a, a:visited {
	color: rgb(var(--bg));
	text-underline-offset: .15em;
	text-decoration-thickness: .15em;
	text-decoration-color: rgba(var(--bg), .3);
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

a:hover {
	text-decoration-color: rgba(var(--highlight), .9);
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

h3 a, h3 a:visited {
	color: rgb(var(--highlight));
	text-decoration-color: rgba(var(--highlight), .3);
}

em {
	font-style: normal;
	font-family: var(--sans-italic);
}

/*Resposive-bility*/

@media only screen and (max-width: 780px), only screen and (max-device-width: 780px) {
	
body {
	font-size: 18px;
}
}

@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
	
header, section, footer {
	display: block;
}

.main-image {
	margin-bottom: 32px;
}

.label {
	position: relative;
	margin-bottom: 32px;
}

.project {
	margin-top: 40px;
	margin-bottom: 40px;
}

.item-data {
	display: block;
}

h3 {
	margin-bottom: -12px;
}
}

@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
	


hr {
	margin-bottom: var(--small);
}

h1 {
	font-size: 32px;
}
}

