/*Load Those WOFFs, Baybee*/

@font-face  {
	font-family: HEX Franklin;
	src: url("/fonts/HEX_Franklin_v0.2-Regular.woff2") format("woff");
	font-weight: 400;
}

@font-face  {
	font-family: HEX Franklin;
	src: url("/fonts/HEX_Franklin_v0.2-Semibold.woff2") format("woff");
	font-weight: 600;
}

@font-face  {
	font-family: HEX Franklin;
	src: url("/fonts/HEX_Franklin_v0.2-Bold.woff2") format("woff");
	font-weight: 700;
}

@font-face  {
	font-family: HEX Franklin Narrow;
	src: url("/fonts/HEX_Franklin_v0.2_Narrow-Medium.woff2") format("woff");
	font-weight: 500;
}

@font-face  {
	font-family: Blanco;
	src: url("/fonts/Blanco-Regular.woff2") format("woff");
	font-weight: 400;
}

@font-face  {
	font-family: Blanco Italic;
	src: url("/fonts/Blanco-Italic.woff2") format("woff");
	font-weight: 400;
}

/*Building Blocks*/

:root {
	--bg: 15, 24, 31;
	--aside: 122, 128, 133;
	--text: 252, 248, 245;
	--focus: 255, 196, 0;
	--social: 255, 191, 225;
	--serif: "Blanco", ui-serif, "Georgia", serif;
	--serif-italic: "Blanco Italic", ui-serif, "Georgia", serif;
	--sans: "HEX Franklin", system-ui, "Arial";
}

@keyframes rotation {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(359deg);
  }
}

html {
	background: rgb(var(--bg));
	text-rendering: optimizeLegibility;
	  -webkit-font-smoothing: antialiased;
	  -moz-font-smoothing: antialiased;
}

body {
	max-width: 720px;
	margin: auto;
	padding: 32px;
}

header {
	margin-top: 48px;
	align-items: flex-start;
	gap: 92px;
}

header, section {
	margin-bottom: 64px;
}

section, footer {
	align-items: baseline;
	gap: 72px;
}

#face {
	width: 56px;
	height: 56px;
	margin-right: 44px;
	animation: rotation 20s infinite linear;
}

section, header, footer, #face {
	display: flex;
}

footer {
	margin-bottom: 64px;
}

.label {
	flex-basis: 120px;
	flex-shrink: 0;
	flex-grow: 0;
}

.block {
	max-width: 528px;
}

.link {
	display: flex;
}

/*Images & Icons*/

.icon {
	margin-right: 16px;
	position: relative;
	top: 1px;
}

/*Type & Link Styling*/

::selection {
	background: rgb(var(--focus));
	color: rgb(var(--bg));
}

h1, h2 {
	font-family: var(--sans);
	margin: 0px;
	margin-bottom: 16px;
}

h1 {
	font-weight: 500;
	color: rgb(var(--focus));
	font-size: 24px;
	line-height: 30px;
}

h2 {
	font-family: "HEX Franklin Narrow";
	font-weight: 500;
	color: rgb(var(--text));
	font-size: 24px;
}

h2.copyright {
	color: rgb(var(--aside));
}

p {
	font-family: var(--serif);
	font-weight: 400;
	color: rgb(var(--text));
	font-size: 20px;
	line-height: 32px;
	margin: 0px;
	margin-bottom: 24px;
}

p.mention, p.social {
	font-family: "HEX Franklin", -apple-system, sans-serif;
	color: rgb(var(--aside));
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 12px;
}

p.social {
	width: 80px;
	margin-right: 32px;
}

em {
	font-style: normal;
	font-family: var(--serif-italic);
}

a, a:visited {
	text-decoration: none;
	color: rgb(var(--text));
	box-shadow: inset 0 -.45em 0 rgb(var(--focus), .4);
}

a:hover {
	color: rgb(var(--bg));
	box-shadow: inset 0 -1em 0 rgb(var(--focus), 1);
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

a.foot {
	box-shadow: none;
	text-decoration: underline;
	color: rgb(var(--aside));
	text-decoration-skip-ink: all;
	text-decoration-color: rgb(var(--aside));
	text-underline-offset: .2em;
	text-decoration-thickness: auto;
}

a.foot:hover {
	color: rgb(var(--text));
	opacity: 100%;
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

a:hover {
	text-decoration: none;
	opacity: 75%;
}

/*Resposive-bility*/

@media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {

header {
	margin-top: 0px;
}

#face {
	margin-right: 0px;
	margin-bottom: 32px;
}

section, header, footer, #face {
	display: block;
}

p {
	font-size: 18px;
	line-height: 28px;
}

h2 {
	font-size: 20px;
	margin-bottom: 24px;
}
}

