html {
	background: rgb(var(--bg));
	text-rendering: optimizeLegibility;
	  -webkit-font-smoothing: antialiased;
	  -moz-font-smoothing: antialiased;
}

body {
	font-size: large;
	max-width: 720px;
	margin: auto;
	padding: 1.5em;
}

nav::before {
	content: '\1F519';
	padding-right: .5em;
}

nav {
	margin-top: 2em;
}

article {
	margin-top: 3em;
}