/*Building Blocks*/

* {
  margin: 0; /*Removes default margins across the board*/
}

html {
	background: rgb(var(--bg));
	text-rendering: optimizeLegibility;
	  -webkit-font-smoothing: antialiased;
	  -moz-font-smoothing: antialiased;
  }

body {
	font-size: 20px;
	font-family: var(--serif);
	font-weight: normal;
	max-width: 720px;
	color: rgb(var(--text));
	margin: auto;
	padding: 1.5em;
	-moz-font-feature-settings: "liga", "kern";
	-moz-font-feature-settings:"liga=1, kern=1";
	-ms-font-feature-settings:"liga", "kern";
	-o-font-feature-settings:"liga", "kern";
	-webkit-font-feature-settings:"liga", "kern";
	font-feature-settings: "liga", "kern";
}

nav {
	display: flex;
	gap: 1.5em;
	margin-top: var(--large);
	font-family: var(--sans);
	font-weight: 400;
}

article {
	margin-top: var(--large);
}

section {
	margin-bottom: var(--large);
}

.reply {
	font-size: 16px;
	line-height: calc(1em + 0.5rem);
	display: block;
	font-family: var(--sans);
	color: rgba(var(--text), .8);
	padding: 1em;
	background-color: rgba(var(--text), .05);
	margin-top: var(--venti);
}

footer {
	font-family: var(--sans);
	font-size: 14px;
	color: rgba(var(--text), .6);
	margin-top: var(--venti);
}

/*Blog post list index specific stuff*/

.listing-post {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: var(--medium);
}

.excerpt {
	flex-basis: 528px;
	border-bottom: 2px solid rgb(var(--text), .3);
	padding-bottom: var(--medium);
}

/*Type & Link Styling*/

::selection {
	background: rgb(var(--highlight));
}

time {
	font-size: 16px;
	display: inline-block;
	font-family: var(--sans);
	color: rgba(var(--text), .6);
	margin-bottom: var(--large);
}

h1, h2, h3 {
	line-height: calc(1em + 0.5rem);
}

h1 {
	font-size: 32px;
	font-family: var(--sans);
	margin-bottom: var(--small);
}

h2 {
	font-size: 24px;
	font-family: var(--sans);
	font-weight: 600;
	margin-bottom: var(--small);
}

h3 {
	font-weight: 700;
	font-size: 20px;
	margin-top: var(--medium);
	margin-bottom: var(--small);
}

p, ul, ol, blockquote, aside {
	margin-bottom: var(--medium);
	line-height: calc(1em + 0.5rem);
}

p.tbd {
	opacity: .3;
}

em {
	font-style: normal; /* removes the fake italicizing */
	font-family: var(--serif-italic);
}

a, a:visited {
	text-decoration: none;
	color: rgb(var(--text));
	box-shadow: inset 0 -.45em 0 rgb(var(--highlight), .6);
}

a:hover {
	box-shadow:inset 0 -1em 0 rgb(var(--highlight), 1);
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

ul li::marker, ol li::marker {
  color: rgba(var(--text), .5)
}

ul {
	list-style-type: circle;
}

blockquote {
	padding: var(--small);
	background: rgba(var(--accent), 0.2);
	border-left: rgba(var(--text), .5) 4px solid;
	}

aside {
	font-size: 18px;
	line-height: calc(1em + 0.5rem);
	color: rgba(var(--text), .8);
	padding: 1em;
	background-color: rgba(var(--text), .05);
}

/*Roundup Item Types for Lists*/

ul.roundup {
	padding-left: var(--venti);
	margin: 0;
}

h3 a {
	box-shadow: inset 0 -.45em 0 rgb(var(--accent), .8);
}

h3 a:hover {
	box-shadow:inset 0 -1em 0 rgb(var(--accent), 1);
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

.roundup p, .roundup h3 {
	padding-left: 24px;
}

.book {
	list-style-type: "📖";
}

.music {
	list-style-type: "🎵";
}

.tv {
	list-style-type: "📺️";
}

.podcast {
	list-style-type: "🔉";
}

.video-game {
	list-style-type: "🎮️";
}

.tabletop {
	list-style-type: "🎲";
}

.keyboard {
	list-style-type: "⌨️";
}

/*Imagery*/

img, picture, video, canvas, figure {
  display: block;
  max-width: 100%;
  margin-top: var(--medium);
}

figcaption {
	text-align: center;
	font-family: var(--sans);
	font-size: 14px;
	margin-top: var(--small);
	color: rgba(var(--text), .6);
	margin-bottom: var(--medium);
}

figcaption a {
	box-shadow: none;
	text-decoration: underline;
	color: rgba(var(--text), .6);
	text-decoration-skip-ink: all;
	text-decoration-color: rgb(var(--aside));
	text-underline-offset: .2em;
	text-decoration-thickness: auto;
}

figcaption a:hover {
	box-shadow: none;
	text-decoration: none;
	color: rgba(var(--text), 1);
	opacity: 100%;
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

/*Resposive-bility*/

@media only screen and (max-width: 568px), only screen and (max-device-width: 568px) {

body {
	padding: 1em;
}

.listing-post {
	display: block;
}

.listing-post time {
	margin-bottom: 1em;
}

.excerpt {
	padding-bottom: 1em;
}

nav {
	margin-top: var(--medium);
}

article {
	margin-top: var(--medium);
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 22px;
}

p, ul, ol, blockquote {
	font-size: 18px;
}
	
.reply {
	font-size: 15px;
}

footer p {
	font-size: 14px;
}

ul.roundup {
	padding-left: 1em;
}

figcaption {
	font-size: 14px;
}

aside {
	font-size: 16px;
}
}

/*Paint It Black*/

@media (prefers-color-scheme: dark) {
:root {
	--bg: 15, 24, 31;
	--text: 252, 248, 245;
}

::selection {
	color: rgb(var(--bg));
}

a, a:visited {
	text-decoration: none;
	color: rgb(var(--text));
	box-shadow: inset 0 -.45em 0 rgba(var(--highlight), .35);
}

a:hover, h3 a:hover {
	color: rgb(var(--bg));
}

h3 a {
	box-shadow: inset 0 -.45em 0 rgba(var(--accent), .35);
}

blockquote {
	background: rgba(var(--accent), 0.1);
}
}
