/*Building Blocks*/

* {
  margin: 0; /*Removes default margins across the board*/
}

html {
	background: rgb(var(--bg));
	text-rendering: optimizeLegibility;
	  -webkit-font-smoothing: antialiased;
	  -moz-font-smoothing: antialiased;
  }

body {
	min-height: 100vh;
	font-size: 20px;
	font-family: var(--sans);
	font-weight: normal;
	max-width: 680px;
	line-height: calc(1.4em);
	color: rgb(var(--text));
	margin: auto;
	padding: 20px;
	-moz-font-feature-settings: "liga", "kern";
	-moz-font-feature-settings:"liga=1, kern=1";
	-ms-font-feature-settings:"liga", "kern";
	-o-font-feature-settings:"liga", "kern";
	-webkit-font-feature-settings:"liga", "kern";
	font-feature-settings: "liga", "kern";
}

nav {
	display: inline-flex;
	position: relative;
	left: 50%;
	  transform: translateX(-50%);
	gap: .5em;
	margin-top: var(--medium);
	margin-bottom: var(--large);
	font-family: var(--title);
	font-weight: 700;
	color: rgb(32, 31, 37);
	border-radius: 32px;
	background-color: rgb(255, 187, 4);
	padding: 12px 24px 16px 24px;
	box-shadow: 0 8px 24px rgba(172, 128, 0, .3);
}

.breadcrumb {
	color: rgba(32, 31, 37, .5);
	text-decoration-color: rgba(32, 31, 37, .2);
}

time {
	margin-bottom: var(--medium);
}

article {
	margin-top: var(--medium);
	margin-bottom: var(--large);
}

article > * {
  max-width: 65ch;
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

hr {
	border: none;
	height: 8px;
	margin-top: var(--large);
	margin-bottom: var(--large);
	background-color: rgba(255, 187, 4, .5);
	border-radius: 3px;
}

footer {
	text-align: center;
	font-size: 14px;
	color: rgba(var(--text), .6);
	margin-top: var(--medium);
	margin-bottom: var(--medium);
}

/*Blog post list index specific stuff*/

.listing-post {
	margin-top: var(--large);
	margin-bottom: 0;
}

.listing-post p, time {
	margin-top: 0;
	margin-bottom: 0;
}

.listing-post h2 {
	margin-bottom: 8px;
}

.listing-post time {
	margin-bottom: var(--small);
}

/*Type & Link Styling*/

::selection {
	background: rgb(255, 187, 4);
	color: rgb(32, 31, 37);
}

h1::selection {
	color: rgb(var(--text));
}

time {
	font-size: 16px;
	display: inline-block;
	color: rgba(var(--text), .7);
}

h1 {
	font-size: 40px;
	color: rgb(var(--highlight));
	font-weight: 900;
}

h1, h2 {
	line-height: 1.3;
	font-family: var(--title);
	text-wrap: balance;
}

h2 {
	font-size: 28px;
	margin-bottom: var(--small);
	font-weight: 700;
}

h3 {
	font-weight: 700;
	font-size: 20px;
}

em {
	font-style: normal; /* removes the fake italicizing */
	font-family: var(--sans-italic);
}

h2 em {
	font-style: normal; /* removes the fake italicizing */
	font-family: var(--title-italic);
}

strong {
	font-style: normal;
	font-weight: 700;
}

s { /* strikethrough text */
	color: rgba(var(--text), .7);
}

a, a:visited {
	color: rgb(var(--text));
	text-underline-offset: .15em;
	text-decoration-thickness: .15em;
	text-decoration-color: rgba(var(--text), .3);
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

a:hover {
	text-decoration-color: rgba(var(--highlight), .9);
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

nav a, nav a:visited {
	color: rgb(32, 31, 37);
	text-decoration-color: rgba(32, 31, 37, .3);
}

nav a:hover {
	color: rgb(32, 31, 37);
	text-decoration-color: rgba(32, 31, 37, .9);
}

h2 a:hover {
	color: rgb(var(--highlight));
	text-decoration-color: rgba(var(--highlight), .4);
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

ul li::marker, ol li::marker {
  color: rgba(var(--highlight), 1)
}

ul {
	list-style-type: circle;
}

ul, ol {
	padding-inline-start: 1.5em;
	display: flex;
	flex-direction: column;
	gap: .5em;
}

blockquote {
	max-width: 50ch;
	padding-inline-start: 1em;
	border-inline-start: 0.3em solid;
	border-inline-color: inherit;
}

.callout {
	font-size: 16px;
	line-height: calc(1em + 0.5rem);
	color: rgba(var(--text), .8);
	padding: 1.5em;
	border-radius: 16px;
	background-color: rgba(var(--text), .09);
	margin-top: var(--medium);
}

aside {
	font-size: smaller;
}

/*Imagery*/

img, picture, video, canvas, .video {
	border-radius: 16px;
	box-shadow: 0 8px 24px rgba(172, 128, 0, .3);
	margin-bottom: var(--medium);
}

img, picture, video, canvas, figure {
	display: block;
	max-width: 100%;
	margin-top: var(--medium);
}

.youtube {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	margin-bottom: var(--medium);
}
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figcaption {
	text-align: center;
	font-size: 14px;
	line-height: 1.5em;
	color: rgba(var(--text), .7);
	margin-top: -20px;
	margin-bottom: var(--medium);
}

figcaption a {
	box-shadow: none;
	text-decoration: underline;
	color: rgba(var(--text), .6);
	text-decoration-skip-ink: all;
	text-decoration-color: rgb(var(--aside));
	text-underline-offset: .2em;
	text-decoration-thickness: auto;
}

figcaption a:hover {
	box-shadow: none;
	text-decoration: none;
	color: rgba(var(--text), 1);
	opacity: 100%;
	transition: 300ms;
	-moz-transition: 300ms; /* Firefox */
	-webkit-transition: 300ms; /*safari and chrome */
}

/*Resposive-bility*/

@media only screen and (max-width: 780px), only screen and (max-device-width: 780px) {
	
body {
	font-size: 18px;
}
}

@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {


h1 {
	font-size: 32px;
}
}

/*Paint It Black*/

@media (prefers-color-scheme: light) {
:root {
	--highlight: 122, 0, 255; /* use purple instead of yellow in light mode for contrast */
}
}

@media (prefers-color-scheme: dark) {
:root {
	--bg: 32, 31, 37;
	--text: 242, 240, 234;
}

::selection {
	color: rgb(var(--bg));
}

img, picture, video, canvas, nav, .video {
	box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
}
}
